services:
    kodus-billing-service:
        container_name: kodus-service-billing
        build:
            context: .
            dockerfile: DockerFiles/Dockerfile.dev
        ports:
            - '3992:3992'
            - '9240:9240'
        restart: unless-stopped
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
        environment:
            - NODE_ENV=development
        env_file:
            - .env
        networks:
            - kodus-backend-services
            - shared-network

networks:
    kodus-backend-services:
        external: true
    shared-network:
        external: true
